<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        <br>
        Erişim Reddedildi
    </h3>
</div>

<div class="text-center my-5">
    <div class="lead my-5">
        Bu sayfaya erişim yetkiniz bulunmamaktadır.
    </div>

    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
        <a class="btn btn-outline-secondary" asp-controller="Estate" asp-action="Index">Mülk Listesi</a>
        <a class="btn btn-outline-secondary" asp-page="/contact">İletişim</a>
    </div>
</div>
