@model Estate
<div class="col-sm-12 col-md-4  my-2">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
            @Model.EstateName
        </div>
        <img src="@Model.ImageUrl" width="200" height="200" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-text">
                <div class="text-danger text-center lead p-2 rounded-2">
                    @Model.Price.ToString("C2")
                </div>
            </div>
            <p class="card-text">&nbsp; &nbsp;  @Model?.Summary</p>
            <div class="d-flex justify-content-center">
                <div class="btn btn-group">
                    <a asp-controller="Estate" asp-action="Get" asp-route-id="@Model?.EstateId" class="btn btn-outline-secondary rounded">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                    <form id="@Model?.EstateId" asp-page="/favoriteList" method="post">
                        <input type="hidden" asp-for="EstateId" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <button type="submit" class="btn btn-outline-secondary mx-1">
                            <i class="fa fa-cart-plus"></i>
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

